<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Title }}</title>
        <meta name="author" content="{{ .Params.author }}">
        <meta name="description" content="{{ .Params.description }}">
        <meta name="og:image" content="http://www.tengio.com/img/project/{{ .Params.id }}/thumbnail.jpg" />
        <meta name="og:description" content="{{ .Params.description }}"/>
        <meta name="og:title" content="{{ .Title }}" />
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ .Params.description }}"/>
        <meta name="twitter:title" content="{{ .Title }}"/>
        <meta name="twitter:image" content="http://www.tengio.com/img/project/{{ .Params.id }}/thumbnail.jpg"/>
        {{ partial "head.html" . }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="/css/projects/{{ .Params.id }}/project.css" type="text/css">
    </head>
    <body id="page-top">
      {{ .Content }}
      {{ if eq .Params.contacts nil }}
        {{ partial "contact_form.html" . }}
        {{ partial "contact_short.html" . }}
      {{ end }}
      {{ partial "flextext.html" . }}
      {{ partial "analytics.html" . }}
      <script src="/js/project.js"></script>
      <script src="/js/fittext.js"></script>
    </body>
</html>
