article h1 {
    padding-top: 100px;
    padding-bottom: 20px;
}

article em {
    font-size: 16px;
}

.article-date {
    padding-bottom: 10px;
}

img[alt="article-img"] {
    width: 100%;
    padding-top: 10px;
}

.article-comments {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-link {
    text-decoration: none;
}

.post-summary {
    padding-top: 20px;
}

.tags {
  margin-bottom: 20px;
  margin-top: 10px;
}

.tags a {
  border: none;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.07);
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.author-bio {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  color: rgba(0,0,0,.64);
}
