<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Title }}</title>
        <meta name="author" content="{{ .Params.author }}">
        <meta name="description" content="{{ .Summary }}">
        <meta name="og:image" content="http://www.tengio.com/img/blog/{{ .Params.id }}/thumbnail.jpg" />
        <meta name="og:description" content="{{ .Summary }}"/>
        <meta name="og:title" content="{{ .Title }}" />
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ .Summary }}"/>
        <meta name="twitter:title" content="{{ .Title }}"/>
        <meta name="twitter:image" content="http://www.tengio.com/img/blog/{{ .Params.id }}/thumbnail.jpg"/>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "toolbar.html" . }}
        <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-1"></div>
              <div class="col-lg-8 col-md-10 col-sm-12">
                <article>
                  <h1>{{ .Title }}</h1>
                  <div class="tags">
                    {{ range .Params.tags }}
                      <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
                    {{ end }}
                  </div>
                  <div class="article-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                  {{ .Content }}
                  <div class="row">
                    {{ partial "author.html" . }}
                  </div>
                  <div class="article-comments">
                    {{ template "_internal/disqus.html" . }}
                  </div>
                </article>
              <div/>
              <div class="col-lg-2 col-md-1"></div>
           </div>
        </div>
        <div class="modal modal-fullscreen fade" id="modal-div" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">Image preview</h4>
              </div>
              <div class="modal-body">
                <img src="" class="image-preview" style="width: 100%;" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {{ partial "flextext.html" . }}
        {{ partial "analytics.html" . }}
        <script>
        $(function() {
          $(".modal-image").on("click", function() {
              if($(this).width() <= 700){
                return;
              }
              var res = $(this).attr('src').replace(".jpg", "_modal.jpg");
              res = res.replace(".png", "_modal.png");
              $('.image-preview').attr('src', res);
              $('.modal-title').text($(this).attr('title'));
              $('#modal-div').modal('show');
            });
        });
        </script>
    </body>
</html>
