<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Title }}</title>
        <meta name="author" content="{{ .Params.author }}">
        <meta name="description" content="{{ .Summary }}">
        <meta name="og:image" content="http://www.tengio.com/img/blog/{{ .Params.id }}/thumbnail.jpg" />
        <meta name="og:description" content="{{ .Summary }}"/>
        <meta name="og:title" content="{{ .Title }}" />
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ .Summary }}"/>
        <meta name="twitter:title" content="{{ .Title }}"/>
        <meta name="twitter:image" content="http://www.tengio.com/img/blog/{{ .Params.id }}/thumbnail.jpg"/>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav_secondary.html" . }}
        <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-1"></div>
              <div class="col-lg-8 col-md-10 col-sm-12">
                <article>
                  <h1>{{ .Title }}</h1>
                  <div class="tags">
                    {{ range .Params.tags }}
                      <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
                    {{ end }}
                  </div>
                  <div class="article-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                  {{ .Content }}
                  <div class="row">
                    {{ partial "author.html" . }}
                  </div>
                  <div class="article-comments">
                    {{ template "_internal/disqus.html" . }}
                  </div>
                </article>
              <div/>
              <div class="col-lg-2 col-md-1"></div>
           </div>
        </div>
        {{ partial "js.html" . }}
    </body>
</html>
