{{ "<!-- ABOUT -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.about.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range .Site.Params.about.list }}
            <div class="col-lg-6 text-center">
                <div class="about-box">
                    <a href="{{ .link }}" target="_blank">
                      <img class="rounded" src="img/authors/{{ .image }}" />
                    </a>
                    <h3>{{ .name }}</h3>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>{{ with .Site.Params.about.about1 }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <br />
              <h3 class="section-heading">{{ with .Site.Params.about.aboutTitle }}{{ . }}{{ end }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>{{ with .Site.Params.about.about2 }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <br />
              <h3 class="section-heading">{{ with .Site.Params.about.storyTitle }}{{ . }}{{ end }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>{{ with .Site.Params.about.story1 }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
