<div class="col-xs-3 col-md-2">
{{ if eq .Params.author "oz" }}
    <img class="rounded-small" src="/img/authors/oz.png" />
  </div>
  <div class="col-xs-9 col-md-10">
    <h3>Oz</h3>
    <p class="author-bio">Oz is an enthusiastic Android developer with a keen eye for clean, considered and creative code. When not at his desk his biggest passions are traveling and training in boxing/brazilian jiu jitsu.</p>
{{ else if eq .Params.author "flavio" }}
    <img class="rounded-small" src="/img/authors/flavio.png" />
  </div>
  <div class="col-xs-9 col-md-10">
    <h3>Flavio</h3>
    <p class="author-bio">Flavio is an experienced Android developer who has recently started training other developers in topics ranging from Kotlin to Test Driven Development. His passion for craftsmanship principles drives him to spread the word of the importance of writing good, clean, testable code.</p>
{{ else if eq .Params.author "shreyas" }}
   <img class="rounded-small" src="/img/authors/shreyas.png" />
  </div>
  <div class="col-xs-9 col-md-10">
    <h3>Shreyas</h3>
    <p class="author-bio">Shreyas Skandan is pursuing a Master’s degree in Robotics at the University of Pennsylvania. He primary research interests are in Machine Perception and Machine Learning. He is currently working on 3D tracking using multiple stereo camera rigs.</p>
{{ else if eq .Params.author "luigi" }}
   <img class="rounded-small" src="/img/authors/luigi.png" />
  </div>
  <div class="col-xs-9 col-md-10">
    <h3>Luigi</h3>
    <p class="author-bio">Luigi is a developer with years of experince in many type of projects and tecnologies.</p>
{{ end }}
</div>
