{{ "<!-- jQuery -->" | safeHTML }}
<script src="/js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="/js/bootstrap.min.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="/js/creative.js"></script>
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-67184502-1' , 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<script type="text/javascript" src="http://www.44tele-infra.com/js/80751.js"></script>
<noscript><img src="http://www.44tele-infra.com/80751.png" style="display:none;" /></noscript>
{{ "<!-- End Google Analytics -->" | safeHTML }}
