<section id="features">
  <div class="container-fluid">
    <div class="row">
      <h2 class="section-heading">Features</h2>
      <hr class="primary">
      <br />
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
        <div class="col-lg-6">
          <br />
          <p>Walk around and view the environment from any perspective in VR Visualize floor plan with and without interiors (floor plans, lighting, interior design layouts, etc.)</p>
          <p>Add and delete customizable 3D props within your environment on the fly (equipment, furniture, etc.)</p>
        </div>
        <div class="col-lg-6">
          <div class="youtube-container">
            <iframe src="https://www.youtube.com/embed/F8oF5AtloTY" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 50px; width:100%;">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
        <div class="col-lg-6">
          <div class="youtube-container">
            <iframe src="https://www.youtube.com/embed/EmAoENCBUUY" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-6">
          <br />
          <p>Use existing 3D models created in major architectural design programs such as Revit, AutoCAD, 3D Studio Max, SketchUp and many others.<p>
        </div>
    </div>
  </div>
</section>
