<section id="partners" class="alternative-row-background">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Who we work with</h2>
          <hr class="primary" />
          <br />
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 feature">
                <img src="/img/project/0001/cask.svg" class="partners-thumbnail img-circle">
              <h3>Property Developers</h3>
              <p>Giving clients a perfect tour of the house they are going to invest in. Making it an easy sell for property developers and an informed decision for the buyer.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 feature">
              <img src="/img/project/0001/goniometer.svg" class="partners-thumbnail img-circle" style="padding:25px">
              <h3>Architects</h3>
              <p>Provide your clients with the opportunity to follow the project of their future property from its early development stages, by actively walking into it.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 feature">
              <img src="/img/project/0001/pen_ruler.svg" class="partners-thumbnail img-circle" style="padding:25px">
              <h3>Interior Designers</h3>
              <p>VR Architect is the perfect tool for designers and clients to bring their design dreams to life, before costly purchases and time consuming changes are made.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
