<section id="product" class="alternative-row-background">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
            <h2 class="section-heading">Product</h2>
            <hr class="primary" />
            <br />
            <p>VR Architect is a software solution developed by Tengio as a virtual simulation, immersive design, architectural visualization, and communication tool for the AEC (Architecture Engineering Construction) industry. Our systems are built using the latest, cutting edge virtual reality equipment on the market with an emphasis on portability, ease of use, and a large return on investment (ROI).</p>
            <p>The solution has the ability to replace costly, static, physical mock-ups for a fraction of the cost with greater results. In short, virtual simulation systems provide you with a full sense of presence in virtual representations of spaces that do not exist yet. Using 2D/3D design in Sketchup, Auto CAD, or other file formats we will create 2 different VR environments:</p>
        </div>
    </div>
  </div>
</section>
