<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta name="author" content="{{ .Site.Params.name }}">
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="og:image" content="http://www.tengio.com/img/small_logo.svg" />
        <meta name="og:description" content="{{ .Site.Params.description }}"/>
        <meta name="og:title" content="{{ .Site.Title }}" />
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ .Site.Params.description }}"/>
        <meta name="twitter:title" content="{{ .Site.Title }}"/>
        <meta name="twitter:image" content="http://www.tengio.com/img/small_logo.svg"/>
        {{ partial "head.html" . }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    </head>
    <body id="page-top">
        {{ partial "toolbar_home.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "services.html" . }}
        {{ partial "portfolio.html" . }}
        {{ partial "about.html" . }}
        {{ partial "blog.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "analytics.html" . }}
        <script src="/js/home.js"></script>
    </body>
</html>
